<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Toggle Dark Mode</ion-label>
            <ion-toggle [(ngModel)]="isDarkTheme" (ionChange)="toggleDarkTheme()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



</ion-content>
