<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quality
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quality</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select label="Choose quality of the card"
                  placeholder="Card Quality"
                  [(ngModel)]="cardQuality"
                  (ionChange)="setFilter()">
        <ion-select-option value="free">Free</ion-select-option>
        <ion-select-option value="common">Common</ion-select-option>
        <ion-select-option value="rare">Rare</ion-select-option>
        <ion-select-option value="epic">Epic</ion-select-option>
        <ion-select-option value="legendary">Legendary</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>

  <ion-list *ngIf="cardQuality$ | async as item">
    <ion-card button *ngFor="let item of data2" routerLink="/quality-details/{{item.cardId}}">
    <!-- <ion-card *ngFor="let item of data2">                    [routerLink]="['/quality-details', item.cardId]"     -->
      <!-- <img [src]="item.img" style="width: 30%; height: auto; display: block; margin: 0 auto;"/> -->
     <ion-card-header>
       <ion-card-title>{{ item.name }}</ion-card-title>
       <ion-card-subtitle>Rarity: {{ item.rarity }}</ion-card-subtitle>
     </ion-card-header>
   </ion-card>
 </ion-list>



 </ion-content>
