<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search-card" href="/tabs/search-card">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card-quality" href="/tabs/card-quality">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Card quality</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card-back" href="/tabs/card-back">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>Card back</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
